<h1>{{title}}</h1>
<div class="container">
<div class="container-fluid d-flex" style="justify-content: space-between;">
    <div class="row">
        <form method="post" action="/image">
        {{#each gallery}}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="selectedName" value="{{this.filename}}" id="{{this.filename}}">
            <label class="form-check-label" for="{{selectedName}}">
                {{this.filename}}
            </label>
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <a href="{{hero.url}}" download>
            <img src="{{hero.url}}" class="card-img-top" alt="..." ></a>
            <div class="card-body">
                <h5 class="card-title">{{hero.filename}}</h5>
            </div>
        </div>
    </div>
    <div class="row" style="flex-direction: column;">
    <a class="btn btn-primary" href="/auth/logout">Logout</a>
    <span>Hi {{user}}</span>
    </div>
</div>
</div>